.App {
  text-align: center;
}

.App-header {
  background-color: #2c2f35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 90%;
  max-height: fit-content
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.span-col-3{grid-column: span 3 / auto;}

.span-col-2{grid-column: span 2 / auto;}

.span-row-2{grid-row: span 2 / auto;}

.span-row-3{grid-row: span 3 / auto;}

@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }
}